html {
    box-sizing: border-box;
    --bg: darkblue;
}

* {
    box-sizing: inherit;
}

body {
    background-color: var(--bg);
}

.board-container {
    display: flex;
    justify-content: space-evenly;
}

.topic-container {
    display: flex;
    flex-direction: column;
}

.cell {
    color: gold;
    background-color: var(--bg);
    width: 15vw;
    height: 10vw;
    margin: 0.75vw 0;
    border: 4px solid gold;
}


.invisible {
    display: none;
}