html {
    box-sizing: border-box;
    --bg: darkblue;
    --bg-hover: #0000bb;
    --font: gold;
}

* {
    box-sizing: inherit;
}

body {
    color: var(--font);
    background-color: var(--bg);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

/******************************BOARD STYLES************************************/
.board-container {
    display: flex;
    justify-content: center;
    min-width: calc(150px*7);
}

.topic-container {
    display: flex;
    flex-direction: column;
}

.cell {
    background-color: var(--bg);
    width: 15vw;
    height: 10vw;                 /* 60vw */
    min-width: 150px;
    min-height: 100px;            /* 600px */
    margin: 10px;                 /* 120px */
    border: 4px solid var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 48px;
}

.question:has(.face-value) {
    cursor: pointer;
}

.question:hover:has(.face-value) {
    background-color: var(--bg-hover);
}

.topic-name {
    padding: 0 10px;
}


.invisible {
    display: none;
}

/*********************FULL SCREEN QUESTION DISPLAY*****************************/
.question-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    overflow: hidden;
    margin: 0;
    border: none;
    color: var(--font);
    font-size: 72px;
    font-weight: bold;
    padding: 75px;
}

.question-time {
    height: 100px;
}


/*******************PLAYERS****************************************************/
.score {
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
}

.player-container {
    border: 5px solid var(--font);
    min-width: 25vw;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 1rem;
}

.player-name {
    text-align: center;
}

.player-score {
    text-align: right;
}